<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        p {
            font-size: large;
            line-height: 2;
        }
    </style>
</head>
<body>

<h1>Report on task</h1>
<h4>Start Date: </h4> <p>5/7/2022</p>
<h4>End Date: </h4> <p>11/7/2022</p>
<h3>What have been done ?</h3>
<p>
    for p1: i have created 2 scripts located at stand_alone_scripts folder: <br>
    1- excel_script: scraping the 
    <a href="https://ar.wikipedia.org/wiki/%D9%82%D8%A7%D8%A6%D9%85%D8%A9_%D8%A3%D9%81%D8%B6%D9%84_%D9%85%D8%A6%D8%A9_%D8%B1%D9%88%D8%A7%D9%8A%D8%A9_%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9">wikipedia</a>
    and place the data in data.xlsx
    <br>
    2- google_sheet_script: scraping the 
    <a href="https://ar.wikipedia.org/wiki/%D9%82%D8%A7%D8%A6%D9%85%D8%A9_%D8%A3%D9%81%D8%B6%D9%84_%D9%85%D8%A6%D8%A9_%D8%B1%D9%88%D8%A7%D9%8A%D8%A9_%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9">wikipedia</a>
    and place the data in
    <a href="https://docs.google.com/spreadsheets/d/1MdaJoal9Oz3qVh_7fkuAkARdCnzaKsrARwL-Gh2RV1s/edit#gid=0">google_sheet</a>
</p>
<hr>
<p>
    for p2: i have created a django & django-DRF Deployed on Heroku:
    here is the links along with instructions as comments: <br>
    1- Link on Heroku : <a href="https://scrapingwiki.herokuapp.com/api/v1/manage-sheet/">List & Create</a> <br>
    2- Link on Heroku : <a href="https://scrapingwiki.herokuapp.com/api/v1/manage-sheet/1/">Detail GET - PUT - DELETE</a>
</p>
<hr>
<p>
    for p3: i have created pdf_cover_generator_tool.py located at stand_alone_scripts folder
</p>
<hr>
<p>
    Also include all the above scripts in one project and deploy it on Heroku: <br>
    <a href="manage-sheet/create/excel-sheet/">View For Scraping & Creating Excel</a> <br>
    <a href="manage-sheet/create/google-sheet/">View For Scraping & Creating Google Sheet</a> <br>
    <a href="covers/generators/">View For Generating Books Covers</a> <br>
</p>
<hr>
<h3>Locations</h3>
<p>
    - Github Link: <a href="https://github.com/dev-omaribrahim/scrapingwiki">Github</a> <br>
    - Excel File: Exist in root dir ==> /excel_files/ <br>
    - Google Sheet: <a href="https://docs.google.com/spreadsheets/d/1MdaJoal9Oz3qVh_7fkuAkARdCnzaKsrARwL-Gh2RV1s/edit#gid=0">google_sheet</a>
    <br>
    - Book Covers: Exist in root dir ==> /books_covers/ <br>
    - NoteBook: Provide name of each Script for Each Problem
</p>
</body>
</html>